#searchbar {
  text-align: center;
  margin: 30px;
}
#searchbar i {
  position: relative;
  left: 22px;
  color: rgba(255, 255, 255, 0.6);
}
#addCity {
  color: rgba(255, 255, 255, 0.6);
  text-align: right;
  padding: 5px 10px;
  outline: none;
  border: none;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.212);
  }
  #addCity::placeholder {
  color: rgba(255, 255, 255, 0.6);
  }
  #addCity:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

